<h1>Word Puzzle</h1>
<form action='/results'>
  <div class="form-group">
    <label for="userWordInput">Enter a sentence to puzzle-ize:</label>
    <input id="userWordInput" name="userWordInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Puzzle Me!</button>
</form>
